In [1]:
import pandas as pd

In [16]:
data = pd.read_csv('E:/work/ML_prac/Data/sc_cust_info_txn_v1.5.csv')
print(data.head(3))

   base_ym  dpro_tgt_perd_val  cust_ctg_type cust_class sex_type age  \
0   202006           20200630          10001          C        F  28
1   202006           20200630          10001          _        _   _
2   202006           20200630          10001          E        F  24

   efct_svc_count dt_stop_yn npay_yn  r3m_avg_bill_amt  r3m_A_avg_arpu_amt  \
0               0          N       N            2640.0               792.0
1               1          N       N             300.0                90.0
2               1          N       N           16840.0              2526.0

   r3m_B_avg_arpu_amt  r6m_A_avg_arpu_amt  r6m_B_avg_arpu_amt termination_yn
0              1584.0                 0.0                 0.0              Y
1               180.0                 0.0                 0.0              Y
2              6983.0                 0.0              6981.0              N

In [17]:
data.shape

(9930, 15)

In [18]:
data.columns

Index(['base_ym', 'dpro_tgt_perd_val', 'cust_ctg_type', 'cust_class',
       'sex_type', 'age', 'efct_svc_count', 'dt_stop_yn', 'npay_yn',
       'r3m_avg_bill_amt', 'r3m_A_avg_arpu_amt', 'r3m_B_avg_arpu_amt',
       'r6m_A_avg_arpu_amt', 'r6m_B_avg_arpu_amt', 'termination_yn'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
data.describe()

,base_ym,dpro_tgt_perd_val,cust_ctg_type,efct_svc_count,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,r6m_A_avg_arpu_amt,r6m_B_avg_arpu_amt
count,9930.0,9930.0,9930.000000,9930.000000,9.930000e+03,9.930000e+03,9.930000e+03,9.930000e+03,9930.000000
mean,202006.0,20200630.0,10001.372810,1.520040,1.181774e+04,1.897536e+03,6.395259e+03,8.496206e+02,4624.897630
std,0.0,0.0,1.605016,15.404037,1.397822e+05,1.235342e+04,8.346138e+04,1.235124e+04,4561.049131
min,202006.0,20200630.0,10001.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,202006.0,20200630.0,10001.000000,1.000000,3.624503e+03,3.240000e+02,1.260000e+03,0.000000e+00,0.000000
50%,202006.0,20200630.0,10001.000000,1.000000,8.284467e+03,1.593307e+03,4.768617e+03,0.000000e+00,3959.316700
75%,202006.0,20200630.0,10001.000000,1.000000,1.372000e+04,2.308360e+03,7.982000e+03,1.006125e+03,7741.006900
max,202006.0,20200630.0,10010.000000,905.000000,1.281568e+07,1.188998e+06,7.689409e+06,1.208498e+06,64947.092000

In [20]:
data[['Survived','Age']]

KeyError: "None of [Index(['Survived', 'Age'], dtype='object')] are in the [columns]"

In [14]:
data.loc[[0,3,6],['Survived','Pclass','Name']]

   Survived  Pclass                                          Name
0         0       3                       Braund, Mr. Owen Harris
3         1       1  Futrelle, Mrs. Jacques Heath (Lily May Peel)
6         0       1                       McCarthy, Mr. Timothy J

In [15]:
data.iloc[[0,3,6],[0,2]]

   PassengerId  Pclass
0            1       3
3            4       1
6            7       1